body {
    background-color: lightgray;
    text-align: center;
}

.image{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px black;
}
.link-button:hover{
    background-color:lightblue;
    box-shadow: none;
}
h1 {
    text-decoration: underline;
  }
  body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}